html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
    height: 100%;
    width: 100%;
}

body {
    background: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.will-animate {
    opacity: 0;
    transition: all .5s cubic-bezier(0.38, 0.26, 0.09, 1.46);
}

body.can-animate .will-animate {
    opacity: 1;
}

.header {
    background: #808000;
    border-bottom: 2px solid black;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    transform: translateY(-100%);
}

body.can-animate .header {
    transform: translateY(-10px);
}

.content {
    display: grid;
    grid-template-columns: 1fr auto 15px auto 1fr;
    grid-template-areas: "squares equals empty-space circle rectangle";
    padding: 30px;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.shape {
    border: 2px solid black;
}

.squares-section {
    display: flex;
    flex-direction: row;
    aspect-ratio: 1/1;
    width: calc((64px + 2px * 2) * 2);
    opacity: 0;
    padding: 32px;
    gap: 10px;
    align-items: center;
    grid-area: squares;
    align-self: flex-start;
    transform: rotate(290deg) scale(0);
}

body.can-animate .squares-section {
    transform: rotate(-45deg);
    opacity: 1;
}

.square {
    height: 64px;
    aspect-ratio: 1/1;
    background: red;
}

.equals-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 48px;
    grid-area: equals;
    justify-self: flex-end;
    transition-delay: .1s;
}

.equals-line {
    height: 8px;
    background: blue;
}

.circle-section {
    grid-area: circle;
    transition-delay: .15s;
}

.circle {
    background: teal;
    height: 64px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.equals-section, .circle-section {
    transform: translateY(30px);
}

body.can-animate .equals-section, body.can-animate .circle-section {
    transform: none;
}

.rectangle-section {
    grid-area: rectangle;
    justify-self: flex-end;
    transition-delay: .25s;
    transform: translateX(100%);
}

body.can-animate .rectangle-section {
    transform: none;
}

.rectangle {
    width: 100px;
    padding: 10px 0;
    text-align: center;
    height: 200px;
    background: white;
    overflow: hidden;
}

.rectangle .text {
    transform: translateY(-50px);
    transition-delay: .4s;
}

body.can-animate .rectangle .text {
    transform: none;
}
